.BestChoice{
    width: 1980px;
	margin: 100px 0px auto;
	
    display: flex;
    flex-direction: column;
    align-items: center;
}

.BestChoice .Items{

    width: 1000px;
    height: 400px;
    margin: 50px;
    display: flex;
    justify-content: space-around;

}