.Item{
    border: 5px solid darksalmon;
    border-radius: 5px;
    width: 300px;
    height: 400px;
    margin: auto;
    background: azure;
}

.Item:hover{
	transform: scale(1.2);
}

.Item img{
    margin: 0px;
    width: 300px;
    height: 310px;
}

.Item div{
    margin: 0px;
    height: 30px;

    font-size:15px;
}

.Item .Like{
    margin: 5px 0px;
    width: 25px;
    height: 25px;
}

.Item .Like:hover{
	transform: scale(1.2);
}

.Item .Love{
    margin: 5px 0px;
    width: 25px;
    height: 25px;
}

.Item .Love:hover{
	transform: scale(1.2);
}