.MyBasket {
	display: flex;
	flex-direction: column;
	align-items: center;

    width: 1980px;
	padding: 200px 0px;
}

.MyBasket .Row{
    display: flex;
    margin: 100px 0px;
    width: 1600px;
    justify-content: space-evenly;
}